<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link  rel="stylesheet" href="./style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title>C'est un Chat !</title>
</head>

    <div id="listeUtil" class="listeUtil"></div>


   <div id="pseudoUtil" class="pseudoUtil">
       <input type="text" id="pseudoInput">
       <button type="submit" id="submitPseudo" >C'est moi !</button>
   </div>
        <div id='messageDiv' class="messageDiv"></div>
           <div class="group">
               <input type="text" id='messageInput'>
               <button type="submit" id='submitBtn'>Send</button>
           </div>
   </body>
    <script src='/socket.io/socket.io.js'></script>
    <script src="./script.js"></script>
</html>





